<div class="container mt-3">
  <div
    class="d-flex justify-content-center align-items-center flex-sm-row flex-column"
  >
    <input
      [(ngModel)]="task"
      class="form-control w-50 mx-1 bg-subtle"
      placeholder="Ingrese una tarea"
      type="text"
      (keyup.enter)="addTask()"
      (keyup.escape)="deleteTask(taskList[taskList.length - 1])"
    />
    <button class="btn btn-outline-dark" (click)="addTask()">Agregar</button>
  </div>
  <div class="container">
    <div class="d-flex justify-content-between mt-4">
      <p class="text-body-secondary my-2 text-center text-md-start">
        Enter para agregar, Escape para eliminar.
      </p>
      <div class="btn-group">
        <button class="btn btn-outline-dark" (click)="showAll()">Ver todo</button>
        <button class="btn btn-outline-dark" (click)="showPending()">Ver tareas pendientes</button>
        <button class="btn btn-outline-dark" (click)="showDone()">Ver tareas resueltas</button>
        <button class="btn btn-outline-dark" (click)="showDeleted()">Papelera</button>
      </div>
    </div>
    <ul class="list-group">
      <li
        class="list-group-item my-2"
        *ngFor="let taskItem of taskList"
        [hidden]="!taskItem.show"
      >
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-column">
          <h5 [ngClass]="{ done: taskItem.done, deleted: taskItem.deleted}">
            <input
              (click)="endTask(taskItem)"
              type="checkbox"
              class="form-check-input"
            />{{ taskItem.task }}
          </h5>
          <p class="text-body-secondary">
            {{ taskItem.date | date : "short" }}
          </p>
        </div>
        <div class="d-flex align-items-center mx-2">
          <button (click)="deleteTask(taskItem)" class="btn btn-outline-danger">
            X
          </button>
        </div>
      </div>
      </li>
    </ul>
  </div>
</div>
