<div class="col">
    <h3>Nuevo Usuario</h3>
    <form #miForm="ngForm" (ngSubmit)="create(miForm)">
      <input type="hidden" [(ngModel)]="userService.dataUser.id" />
      <div class="mb-3">
        <label for="name">Nombre</label>
        <input
          type="text"
          id="name"
          class="form-control"
          placeholder="Nombre"
          name="name"
          [(ngModel)]="userService.dataUser.name"
          required
          minlength="4"
          #name="ngModel"
        />
        <div *ngIf="name.errors?.['minlength']" class="col">
            <span class="form-text"
              >Tiene que tener mas de cuatro letras</span
            >
          </div>
          <div *ngIf="name.errors?.['required']" class="col-auto">
            <span class="form-text">Dato obligatorio</span>
          </div>
      </div>
      <div class="mb-3">
        <label for="job">Trabajo</label>
        <input
          type="text"
          id="job"
          class="form-control"
          placeholder="Trabajo"
          name="job"
          [(ngModel)]="userService.dataUser.job"
        />
      </div>
      <div class="d-flex justify-content-between">
        <button class="btn btn-outline-warning">Limpiar</button>
        <button class="btn btn-outline-success" [disabled]="!miForm.valid" type="submit">Guardar</button>

      </div>
      <div *ngIf="msg.length > 0" class="alert mt-3 alert-success" role="alert">
        {{msg}}
      </div>
    </form>
  </div>